@import "variable";

@mixin full-wh {
    width: 100%;
    height: 100%;
}
@mixin content {
    content: "";
    position: absolute;
}
@mixin bg-before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin box-layout($borderRadius:1.25rem) {
    background-color: map-get($map: $bg-colors, $key: bg-light);
    border-radius: $borderRadius;
    box-shadow: $box-shadow;
}
@mixin portfolio-icon-content {
    background-color :white;
            width:35px;
            height:35px;
            line-height:37px;
            margin:0 8px;
            display:inline-block;
            border-radius:4px;
            transition:all 0.3s ease;
}
@mixin  portfolio-i-content {
    font-size:18px;
    font-weight: $font-weight-bolder;
}
@mixin color-button {
    background-color: white;
        top: 75px;
        z-index: 1000;
        position: fixed;
        transition: all 0.3s ease;
}
@mixin close-icon {
    color: map-get($map: $colors, $key: dark);
    text-shadow: none;
}

@mixin dark-box-layout {
    background-color: map-get($map: $bg-colors, $key: bg-dark);
        box-shadow: $dark-box-shadow;
}
@mixin  scroll-down-icon {
    text-align: center;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    left: calc(50% - 8px);
    width: 30px;
    height: 50px;
    border-radius: 50px;
}
@mixin scroll-down-before {
    position: absolute;
    content: '';
    width: 6px;
    height: 10px;
    left: calc(50% - 3px);
    margin-top: 10px;
    border-radius: 5px;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}