


$blue-color: #1b63ad;
$blue-color-hover: #135495;
$golden-color: #ddae3f;
$golden-color-hover: #dba423;
$green-color: #1ab394;
$green-color-hover: #0c9b7e;
$orange-color: #ff645e;
$orange-color-hover: #f05852;
$pink-color: #ff4274;
$pink-color-hover: #f43568;
$purple-color: #c179c0;
$purple-color-hover: #b96db8;
$red-color:#d31d4d;
$red-color-hover: #c81846;
$sky-blue: #0cc0de;
$sky-blue-hover: #0cacc9;
$yellow-color: #f0cb34;
$yellow-color-hover:#eeca37;